﻿
@{
    ViewBag.Title = "Reporte pedidos por empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Reporte de empleados</h2>
<hr />
<input type="button" id="btnIncrustar" value="Ver Reporte" class="btn btn-success" />
<input type="button" id="btnDescargar" value="Descargar Reporte" class="btn btnwarning" />
<br />
<br /><label class="label-danger" style="color:white;">Parametro</label>
<select id="comboParametro" class="form-control">
    <option value="">Seleccione un empleado</option>
    @foreach (var item in ViewBag.empleados)
    {
        <option value="@item.Nombre,@item.Apellidos">@item.Nombre @item.Apellidos</option>

    }
</select>
<hr />
<iframe id="reporteParam" style="width:100%; height:600px;" frameborder="0"
        scrolling="yes">
</iframe>

@section scripts{
    <script>
    $(document).ready(function () {
             var combo = $("#comboParametro");
             //BOTON INCRUSTAR
             $("#btnIncrustar").on("click", function () {
             if (combo.val() == "") {
             alert('Debe seleccionar un parametro para el reporte');
             } else {
                 var item = combo.val().split(',');
                 var url = "@Url.Action("VerReportePedidosPorEmpleado", "Home")?nombre=" +
            item[0] + "&apellidos=" + item[1];
             $("#reporteParam").attr("src", url).load();
                 }

             });
                  //BOTON DESCARGAR
             $("#btnDescargar").on("click", function () {
                         if (combo.val() == "") {
                         alert('Debe seleccionar un parametro para el reporte');
                         } else {
                           var item = combo.val().split(',');
                             var url = "@Url.Action("VerReportePedidosPorEmpleado", "Home")?nombre=" +
                        item[0] + "&apellidos=" + item[1];
                         window.open(url);
                         }
                         });

    });

    </script>



}
